body {
    margin: 0;
    /*font-family: 'Lato', sans-serif;*/
    background-color: #D9F3E4;
    /* #A3EBC2; */
    /*background-image: url('../img/GameOfLifeBG.jpg');*/
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    font-weight: 400;
}

p {
    line-height: 2;
}


/* Text Background */

.textPad {
    margin: 50px;
    padding: 10px;
    background: #D9F3E4;
}

.introHeading {
    padding: 25px;
    text-align: center;
}

.introContent {
    padding-left: 150px;
    padding-right: 150px;
}