body{
    text-align: center;
    background: #D9F3E4;
}

.title{
    text-align: center;
}

/*
div {
    background: #96e7b8;
    border: solid 1px #777;
    width: 50%;
    margin: 0 auto; 
}
*/
.board {
    text-align: center;
    font-size: xx-large;
    background: #96e7b8;
    border: solid 1px #777;
    padding: 25px 25px 25px 25px;
    width: 50px;
    height: 50px;
    margin: 0 auto; /*Center the Div*/
}

#topLeft{
    display: inline-block;
    text-align: center;
}
#topCenter{
    display: inline-block;
}

#topRight{
    display: inline-block;
}

#midLeft{
    display: inline-block; 
}
#midCenter{
    display: inline-block;
}

#midRight{
    display: inline-block;
}

#bottomLeft{
    display: inline-block;
}
#bottomCenter{
    display: inline-block;
}

#bottomRight{
    display: inline-block;
}