body{
    text-align: center;
    background: #D9F3E4;
}

.title{
    text-align: center;
}

.container{
    text-align: center;
    margin: 100px;
    padding: 20px;
    width: 200px;
    height: 200px;
    background: #96e7b8;
    border: solid 1px #777;
}