body{
    text-align: center;
    background: #D9F3E4;
}

.title{
    text-align: center;
}

.container{
    text-align: center;
    margin: 100px;
    padding: 20px;
    width: 200px;
    height: 200px;
    background: #96e7b8;
    border: solid 1px #777;
    margin: 0 auto; /*Center the Div*/
}

/*
div {
    background: #96e7b8;
    border: solid 1px #777;
    width: 50%;
    margin: 0 auto; 
}
*/
.board {
    text-align: center;
    background: #96e7b8;
    border: solid 1px #777;
    width: 100px;
    height: 100px;
    margin: 0 auto; /*Center the Div*/
}

#topLeft{
    display: inline-block;
}
#topCenter{
    display: inline-block;
}

#topRight{
    display: inline-block;
}

#midLeft{

}
#midCenter{

}

#midRight{
    
}

#bottomLeft{

}
#bottomCenter{

}

#bottomRight{
    
}