body {
    margin: 0;
    /*font-family: 'Lato', sans-serif;*/
    background-color: #D9F3E4;
    /* #A3EBC2; */
    background-image: url('../img/FizBuzzBG.jpg');
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    font-weight: 400;
}

p {
    line-height: 1.75;
}

.introHeading {
    padding: 25px;
    text-align: center;
}

.introContent {
    padding-left: 25px;
    padding-right: 25px;
}